@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
/* burgerbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 900px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    display: block;
    z-index: 9;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

body {
  background-color: rgb(235, 235, 235);
}

/* slider */
.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: rgb(251, 251, 251);
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.splide {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.slideimg {
  border-radius: 20px;
}

.splide__slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .splide {
    display: none;
  }
}

/* registration */

#resgitration {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 200px;
  height: 40px;
  background-color: #fcfaf9;
  border-radius: 10px;
}
.input-2 {
  font-size: larger;
}

.submit {
  width: 224px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 149, 0);
  cursor: pointer;
}

.submit:hover {
  background-color: #e3e3e3;
}

.fa-regular {
  cursor: pointer;
}

/* accordion */
.accordion {
  background-color: rgb(255, 149, 0);
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  width: 500px;
  border-radius: 10px;
  border-radius: 5px;
}

.active,
.accordion:hover {
  background-color: #e3e3e3;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: ease-out;
  height: 100px;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
}

.accordionbox {
  width: 500px;
  height: auto;
}

/*  */

.conteiner1 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbfafa;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .conteiner1 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .accordionbox {
    margin: 20px;
  }

  #resgitration {
    display: flex;
    align-items: center;
  }
}

/*  */

.headertext {
  font-size: x-large;
  margin: 20px;
  color: #4c4b4b;
  text-shadow: #ccc;
}

/*  */

#result li.hide {
  display: none;
}

.conteiner {
  width: 500px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: larger;
  color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#filter {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border-color: #f77a14;
  background-color: #e9e6e6;
  margin: 20px;
}

#searchtext {
  font-size: x-large;
  color: #ad550d;
}

/*  */

.conteiner-login {
  width: 500px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  /* max-width: 1000px;
  min-height: 100px;
  margin: 0 auto; */
  margin-top: 50px;
  font-size: larger;
  color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.sectionlogin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .sectionlogin {
    display: flex;
    flex-direction: column;
  }
}

.conteiner-login {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.username {
  width: 200px;
  height: 40px;
  background-color: #fcfaf9;
  border-radius: 10px;
  margin-top: 30px;
}

#passw {
  width: 200px;
  height: 40px;
  background-color: #fcfaf9;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cookie-banner {
  background-color: #444;
  color: #fff;
  padding: 6px;
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.cookie-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 1000;
  cursor: pointer;
}

.cookie-banner button:hover {
  background-color: #e2e8f0;
  color: #000;
}

.conteiner4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 80px;
  margin-left: 55px;
  width: 1279px;
  height: 811px;
  max-width: 1279px;
  min-height: 811px;
  margin: 0 auto;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 413px;
  height: 346px;
  margin: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.number {
  margin-left: 268px;
  font-size: 80px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.boxo1text {
  margin-left: 40px;
  font-size: 24px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.boxo1text2 {
  margin-left: 40px;
  margin-bottom: 80px;
  font-size: 18px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.arrow {
  margin-left: 358px;
}

@media screen and (max-width: 768px) {
  .conteiner4 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .boxes {
    width: 530px;
    display: flex;
    align-items: center;
  }
}

.conteiner7 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: start;
  width: 1410px;
  height: 335px;
  background-color: white;
  max-width: 1415px;
  min-height: 335px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}

.fa-solid {
  grid-area: 1;
  align-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  margin-top: 10px;
}

.home {
  grid-column: 3;
}

.button7 {
  display: block;
  margin-top: 10px;
  border: 0px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: "Be Vietnam Pro", sans-serif;
}

.button7:hover {
  color: rgb(150, 150, 150);
}

.aboutus {
  grid-column: 4;
}

.button8 {
  display: block;
  border: 0px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: "Be Vietnam Pro", sans-serif;
}
.button8:hover {
  color: rgb(150, 150, 150);
}

h4,
h5,
h6 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
}

.fa-brands {
  grid-row: 5;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.fa-brands:hover {
  color: rgb(11, 63, 167);
}

#map {
  margin-top: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .conteiner7 {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
  }
}

.conteinerform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.con-us {
  margin-top: 10px;
  font-size: 40px;
  color: rgb(255, 149, 0);
}

.input {
  margin: 15px;
}

.border {
  width: 200px;
  height: 20px;
  border: 0px;
  border-radius: 6px;
  background-color: rgb(235, 235, 235);
}

#m {
  margin-top: 15px;
  border: 0px;
  border-radius: 6px;
  background-color: rgb(235, 235, 235);
  width: 200px;
  min-height: 50px;
}

.contactbutton {
  margin-top: 15px;
  width: 200px;
  height: 20px;
  border: 0px;
  border-radius: 6px;
  background-color: rgb(255, 149, 0);
  color: black;
  cursor: pointer;
}

.contactbutton:hover {
  width: 180px;
  height: 15px;
}

.scrolltop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: rgb(255, 149, 0);
  color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all.5s ease 0s;
  margin-left: 0px;
}
.scrolltop:hover {
  background-color: #e3e3e3;
}
